<link rel="stylesheet" href="~/Content/bootstrap-table.css">
<link rel="stylesheet" href="~/Content/select.css">
<script src="~/Content/bootstrap-table.js"></script>

<style>
    .lightFont {
        font-weight: normal;
    }

    .boldFont {
        font-weight: bold;
    }
</style>
<input type="hidden" id="orderId" name="orderId" value="" />
<!-- 更新状态 模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更新订单状态</h4>
            </div>
            <div class="modal-body">
                <button class="btn statusClass" data-id="1">已下单</button>
                <button class="btn statusClass" data-id="2">已发货</button>
                <button class="btn statusClass" data-id="3">已付款</button>
                <button class="btn statusClass" data-id="4">已完成</button>
                <button class="btn statusClass" data-id="5">其他</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnUpdate" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 详情 模态框 -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px;max-height:620px;overflow:scroll;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">订单详情（<span class="boldFont" id="detail_orderid"></span>）</h4>
            </div>

            <div class="panel panel-default" style="line-height:35px;padding-left:20px;margin-left: 15px;margin-right: 20px;">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="lightFont">姓名：</label>
                        <span class="boldFont" id="detail_receivename"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">手机：</label>
                        <span class="boldFont" id="detail_telephone"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">地址：</label>
                        <span class="boldFont" id="detail_address"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="lightFont">商品：</label>
                        <span class="boldFont" id="detail_productName"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">颜色：</label>
                        <span class="boldFont" id="detail_color"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">尺码：</label>
                        <span class="boldFont" id="detail_size"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="lightFont">数量：</label>
                        <span class="boldFont" id="detail_count"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">总价：</label>
                        <span class="boldFont" id="detail_sumPrice"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">备注：</label>
                        <span class="boldFont" id="detail_remark"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="lightFont">状态：</label>
                        <span class="boldFont" id="detail_status"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="lightFont">创建时间：</label>
                        <span class="boldFont" id="detail_createtime"></span>
                    </div>
                </div>
            </div>

            <div style="padding-left: 16px;padding-bottom: 10px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="panel panel-default">
    <div class="panel" style="font-size:x-large;padding-left:10px;">查询条件: </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-1 control-label">姓名：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="txtname"
                       placeholder="请输入姓名">
            </div>
            <label class="col-sm-1 control-label">手机：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="txtphone"
                       placeholder="请输入手机号">
            </div>
            <label class="col-sm-1 control-label">颜色：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="txtcolor"
                       placeholder="请输入颜色">
            </div>
        </div>
        <div class="form-group">

            <label class="col-sm-1 control-label">尺码：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="txtsize"
                       placeholder="请输入尺码">
            </div>

            <label class="col-sm-1 control-label">状态：</label>
            <div class="col-sm-2">
                <div class="select" style="width:100%">
                    <select id="txtstatus" style="width:100%">
                        <option value="0">全部</option>
                        <option value="1">已下单</option>
                        <option value="2">已发货</option>
                        <option value="3">已付款</option>
                        <option value="4">已完成</option>
                        <option value="5">其他</option>
                    </select>
                </div>

            </div>
            <div class="col-sm-offset-1 col-sm-1">
                <button id="btnquery" type="button" class="btn btn-default">查询</button>
            </div>
        </div>
    </form>
</div>

<div class="content" style="background-color:white;">
    <div class="panel" style="margin-bottom: -53px;">
        <span style="font-size: x-large;">
            查询结果:
        </span>
    </div>
    <table id="example" class="display"></table>
</div>

<script>

    $(document).ready(function () {
        $('#example').bootstrapTable({
            pagination: true,
            sidePagination: "client",
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            search: true,
            striped: true,
            showToggle: true,
            columns: [
                {
                    field: 'number',
                    title: '序号',
                    width: 5,
                    align: 'center',
                    switchable: false,
                    formatter: function (value, row, index) {
                        var pageSize = $('#example').bootstrapTable('getOptions').pageSize;//通过表的#id 可以得到每页多少条
                        var pageNumber = $('#example').bootstrapTable('getOptions').pageNumber;//通过表的#id 可以得到当前第几页
                        return pageSize * (pageNumber - 1) + index + 1;    //返回每条的序号： 每页条数 * （当前页 - 1 ）+ 序号
                    }
                },
                {
                    field: 'ReceiveName',
                    title: '姓名'
                }, {
                    field: 'ReceivePhone',
                    title: '手机'
                }, {
                    field: 'ReceiveCityID',
                    title: '城市'
                },
                {
                    field: 'Color',
                    title: '颜色'
                }, {
                    field: 'Size',
                    title: '尺码'
                },
                {
                    field: 'Count',
                    title: '数量'
                }, {
                    field: 'TotalPrice',
                    title: '总价'
                }, {
                    field: 'CreateTime',
                    title: '创建时间', formatter: function (value, row, index) {

                        return timestampToTime(value);
                    }
                }, {
                    field: 'Status',
                    title: '状态',
                    formatter: function (value, row, index) {

                        return GetStatusDesc(value);
                    }
                }, {
                    field: 'ID',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var status = '<button data-id=' + value + ' data-status=' + row.Status + ' data-toggle="modal" data-target="#myModal"' +
                            'class = "updateStatus btn btn-default">更新</button >';
                        var edit = '  <button data-id=' + value + ' data-toggle="modal" data-target="#detailModal"' +
                            'class = "detail btn btn-default">详情</button > ';
                        return status + edit;
                    }
                }],
            success: function (data) {
                debugger;
            }
        });

        $("#btnUpdate").click(function () {

            var id = $("#orderId").val();
            var status = 0;
            $($(".modal-body")[0].children).each(function (index, item) {

                if (item.className.indexOf('btn-danger') > -1) {

                    status = item.dataset.id;
                    return;
                }
            });

            var param = {};
            param.status = status;
            param.orderId = id;
            $.ajax({
                url: "UpdateOrderStatus",
                data: param,
                type: "post",
                dataType: "json",
                success: function (result) {

                    alert("操作成功")
                    window.location.reload();
                }, error: function (ex) {

                }
            });
        });

        $(".statusClass").click(function () {

            var self = this;
            var modelClass = $(this.parentElement.children).each(function (index, item) {

                $(item).removeClass();
                if (self == item) {
                    $(item).addClass("btn statusClass btn-lg btn-danger");
                } else {
                    $(item).addClass("btn statusClass");
                }
            });
        });

        $("#btnquery").click(function () {
            GetOrderList();
        });
        GetOrderList();
    });

    function GetOrderList() {
        var param = {};
        param.Size = $("#txtsize").val();
        param.ReceivePhone = $("#txtphone").val();
        param.ReceiveName = $("#txtname").val();
        param.Color = $("#txtcolor").val();
        param.Status = $("#txtstatus").val();
        param.Address = $("#txtaddress").val();
        $.ajax({
            url: "GetOrderList",
            dataType: "json", data: param,
            success: function (data) {
                $('#example').bootstrapTable('load', data.rows);
                BindTableBtnEvent();
            },
            error: function (e) {
            }
        });
    }

    function BindTableBtnEvent() {
        document.getElementsByName("toggle")[0].innerHTML = "切换";
        $(".pull-right.search").css('width', '160px');
        $(".updateStatus").click(function () {

            var self = this;
            $("#orderId").val(this.dataset.id);
            $("#status").val(this.dataset.status);
            $($(".modal-body")[0].children).each(function (index, item) {

                if (item.dataset.id == self.dataset.status) {

                    $(item).removeClass();
                    $(item).addClass("btn statusClass btn-lg btn-danger");
                    return;
                }
            });
        });

        $(".detail").click(function () {
            $.get("GetOrderDetail?orderid=" + this.dataset.id, function (data) {
                $("#detail_orderid")[0].textContent = data.ID;
                $("#detail_telephone")[0].textContent = data.ReceivePhone;
                $("#detail_receivename")[0].textContent = data.ReceiveName;
                $("#detail_productName")[0].textContent = data.ProductName;
                $("#detail_status")[0].textContent = GetStatusDesc(data.Status);
                $("#detail_address")[0].textContent = '(' + data.ReceiveCityID + ')' + data.ReceiveAddress;
                $("#detail_sumPrice")[0].textContent = data.TotalPrice;
                $("#detail_color")[0].textContent = data.Color;
                $("#detail_size")[0].textContent = data.Size;
                $("#detail_count")[0].textContent = data.Count;
                $("#detail_remark")[0].textContent = data.Remarks;
                $("#detail_createtime")[0].textContent = timestampToTime(data.CreateTime);
            });
        });
    }

    function GetStatusDesc(status) {

        //订单状态 1:已下单  2:已发货  3:已付款  4:已完成  5:其他
        var statusDesc = '未知';
        switch (status) {
            case 1: statusDesc = "已下单";
                break;
            case 2: statusDesc = "已发货";
                break;
            case 3: statusDesc = "已付款";
                break;
            case 4: statusDesc = "已完成";
                break;
            case 5: statusDesc = "其他";
                break;
            default: statusDesc = "未知";
                break;
        }
        return statusDesc;
    }

    function timestampToTime(timestamp) {

        var date = new Date(parseInt(timestamp.replace("/Date(", "").replace(")/", ""), 10));
        Y = date.getFullYear() + '-';
        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + ' ';
        h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ':';
        m = (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) + ':';
        s = (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());
        return Y + M + D + h + m + s;
    }

</script>
