
@{
    Layout = "~/Views/Shared/_Front_Layout.cshtml";
}

<div class="preview-phone">
    <div class="first-image">
        @*<link href="https://d65e3204.fyeds0.com/swiper.min.css?df891a05fd533065ea84" rel="stylesheet">*@
        <div class="v-gallery-style">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper" style="width: 2560px; transform: translate3d(-640px, 0px, 0px); transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 640px;"><img src="../Content/image/1.jpg?800*800"></div>
                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 640px;"><img src="../Content/image/1.jpg?800*900"></div>
                    <div class="swiper-slide swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 640px;"><img src="../Content/image/4.jpg?800*800"></div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 640px;"><img src="../Content/image/1.jpg?800*900"></div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
            </div>
        </div>
    </div>
    <div id="marketingModules">

        <div class="good-hot-wrapper ">
            <div class="good-hot-left">热卖</div>
            已销售<span>95818</span>件！
        </div>
    </div>
    <div class="price-buy-wrapper clear" style="background: #cf2a4f;">
        <div class="index-price" style="color:#f3ff02;height:42px;line-height:42px;width:40%;">
            ￥ 99.00
        </div>
        <a href="#fill-forms" class="index-buying" data-type="purchase-btn" style="color: rgb(243, 255, 2); height: 42px; line-height: 42px; width: 60%; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div style="display: inline-block; height: 22px; width: 22px; vertical-align: sub; margin-right: 6px;">
                <svg height="22px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-411.000000, -993.000000)" fill="#f3ff02" fill-rule="nonzero">
                            <g transform="translate(19.000000, 974.000000)">
                                <path d="M405.756646,45.0796689 L404.573098,44.2349899 L429.1406,44.2349899 C429.833324,44.2349899 430.394654,44.7999953 430.394654,45.4969029 C430.394654,46.1936338 429.833324,46.7584624 429.1406,46.7584624 L404.573054,46.7584624 C404.040321,46.7584624 403.565707,46.4199542 403.389638,45.9140044 L394.604534,20.6788819 L395.787994,21.5235167 L393.253835,21.5235167 C392.561419,21.5235167 392,20.9587324 392,20.2616478 C392,19.564917 392.561419,19 393.253835,19 L395.788038,19 C396.320771,19 396.795429,19.3387734 396.971454,19.8447232 L399.235052,26.3468818 L427.745695,26.3468818 C428.539325,26.3468818 429.133427,27.0795941 428.974007,27.8621234 L426.972097,37.6845614 C426.862756,38.2205694 426.422759,38.6243215 425.88247,38.6850125 L409.35794,39.7612811 C408.669521,39.8384599 408.049369,39.3396268 407.972756,38.6469184 C407.896186,37.9544752 408.391931,37.3305028 409.080261,37.2535008 L424.715396,36.2169708 C424.715396,36.2169708 425.606549,32.064964 426.257672,28.8703543 C426.272037,28.7999828 405.465042,28.8539549 400.112675,28.8675695 L405.756646,45.0796689 Z M408.414017,51.9305024 C409.416926,51.9305024 410.232872,52.7514443 410.232872,53.7605592 C410.232872,54.7696299 409.416926,55.5905718 408.414017,55.5905718 C407.411195,55.5905718 406.59538,54.7696299 406.59538,53.7605592 C406.595337,52.7514443 407.411195,51.9305024 408.414017,51.9305024 Z M408.414017,49.5210742 C406.08716,49.5210742 404.200873,51.4192039 404.200873,53.7605592 C404.200873,56.1021355 406.08716,58 408.414017,58 C410.740873,58 412.62738,56.1020913 412.62738,53.7605592 C412.627336,51.4192039 410.740873,49.5210742 408.414017,49.5210742 Z M426.78766,53.7605592 C426.78766,54.7696299 425.97189,55.5905718 424.969156,55.5905718 C423.966334,55.5905718 423.150475,54.7696299 423.150475,53.7605592 C423.150476,52.7514443 423.966334,51.9305024 424.969156,51.9305024 C425.97189,51.9305024 426.78766,52.7514443 426.78766,53.7605592 Z M420.755968,53.7605592 C420.755968,56.1021355 422.642168,58 424.969156,58 C427.295924,58 429.182168,56.1020913 429.182168,53.7605592 C429.182211,51.4192039 427.295924,49.5210742 424.969156,49.5210742 C422.642124,49.5210742 420.755968,51.4192039 420.755968,53.7605592 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>一折抢购，售完为止
        </a>
    </div>
    <div class="ql-editor"><p><strong class="ql-color-yellow ql-bg-red" style="font-size: 20px;">指导价990元：活动期间一折大促，立减891元，2双鞋=99元！</strong></p><p><strong style="font-size: 18px;">全国包邮，货到付款，先验货后签收！发现非正品，商家承担来回运费！</strong></p><p><br></p><p><strong class="ql-color-red" style="font-size: 20px;">厂家直销，仓库直发!</strong></p><p><strong class="ql-color-red" style="font-size: 20px;">省去中间销售环节，直逼底价！</strong></p><p><br></p><p><strong style="font-size: 20px;">现在我们大促回馈卖，包邮货到付款！</strong></p><p><br></p><p><strong class="ql-color-red" style="font-size: 20px;">特别提醒:货到付款，支持开包验货，满意后再付款，支持7天无理由</strong></p></div>
    <img class="pic-module" src="../Content/image/24.gif">
    <img class="pic-module" src="https://p4.qpic.cn/fengye/0/apd_1831759825aeab86dcf3e0/0?750*267">
    <img class="pic-module" src="https://p0.qpic.cn/fengye/0/apd_1831759825aeab8798e967/0?750*417">
    <img class="pic-module" src="../Content/image/27.jpg">
    <img class="pic-module" src="../Content/image/3.jpg">
    <img class="pic-module" src="../Content/image/4.jpg">
    <img class="pic-module" src="../Content/image/5.jpg">
    <img class="pic-module" src="../Content/image/6.jpg">
    <img class="pic-module" src="../Content/image/7.jpg">
    <img class="pic-module" src="../Content/image/8.jpg">
    <img class="pic-module" src="../Content/image/9.jpg">
    <img class="pic-module" src="../Content/image/10.jpg">
    <img class="pic-module" src="../Content/image/11.jpg">
    <img class="pic-module" src="../Content/image/12.jpg">
    <img class="pic-module" src="../Content/image/13.jpg">
    <img class="pic-module" src="../Content/image/14.jpg">
    <img class="pic-module" src="../Content/image/15.jpg">
    <img class="pic-module" src="../Content/image/16.jpg">
    <img class="pic-module" src="../Content/image/17.jpg">
    <img class="pic-module" src="../Content/image/18.jpg">
    <img class="pic-module" src="../Content/image/2.jpg">
    <img class="pic-module" src="../Content/image/19.jpg">
    <img class="pic-module" src="../Content/image/20.jpg">
    <img class="pic-module" src="../Content/image/21.jpg">
    <img class="pic-module" src="../Content/image/23.jpg">
    <div id="ec-form-wrapper">
        <div id="fill-forms" style="height: 50px;line-height: 50px;text-align: center;border-top: 1px solid #edeef5; font-size: 16px;">填写订单</div>
        <div class="ec-form-fields">
            <ul class="radio-group clear item-group">
                <li data-package="0" class="active basepriceclass" data-price="99.00" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <span class="radio-icon  productNameClass"></span>99元2双 韩版透气运动鞋
                </li>
            </ul>
            <div data-package-detail="0" class="item-group ">
                <p data-product="0_0" data-name="（验货满意再付款）" class="title">（验货满意再付款）</p>
                <p id="attribute-name-0_0_0" class="sub-title is-required" style="margin-bottom: 10px;">
                    颜色
                    <span data-attribute-validate="0_0_0" class="ec-validate hide">请选择颜色</span>
                </p>
                <ul class="radio-btn-group clear colorclass">
                    <li data-attribute="0_0_0" data-value="2双黑色黑底" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class=" ">
                        2双黑色白底
                    </li>
                    <li data-attribute="0_0_0" data-value="2双黑色白底" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class=" ">
                        2双白色白底
                    </li>
                    <li data-attribute="0_0_0" data-value="2双红色" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class=" ">
                        2双灰色白底
                    </li>
                    <li data-attribute="0_0_0" data-value="黑色黑底+黑色白底" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class=" ">
                        黑色黑底+黑色白底
                    </li>
                    <li data-attribute="0_0_0" data-value="黑色黑底+红色" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class=" ">
                        黑色白底+灰色白底
                    </li>
                    <li data-attribute="0_0_0" data-value="黑色白底+红色" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class="  ">
                        白色白底+灰色白底
                    </li>
                </ul>
                <p id="attribute-name-0_0_1" class="sub-title is-required" style="margin-bottom: 10px;">
                    码数
                    <span data-attribute-validate="0_0_1" class="ec-validate hide">请选择码数</span>
                </p>
                <ul class="radio-btn-group clear sizeclass">
                    <li data-attribute="0_0_1" data-value="39码" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        39码
                    </li>
                    <li data-attribute="0_0_1" data-value="40码" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        40码
                    </li>
                    <li data-attribute="0_0_1" data-value="41码" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        41码
                    </li>
                    <li data-attribute="0_0_1" data-value="42码" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        42码
                    </li>
                    <li data-attribute="0_0_1" data-value="43码" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        43码
                    </li>
                    <li data-attribute="0_0_1" data-value="44码" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                        44码
                    </li>
                </ul>
            </div>
            <div class="ec-form-item clear item-group" style="margin-top: 10px; padding-bottom: 10px">
                <div class="is-required" style="padding-bottom: 6px;">数量</div>
                <div style="text-align: right;line-height: 36px;">
                    <div id="package-spinner" class="ec-spinner" style="float: left;">
                        <i data-type="left" class="left disabled" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">-</i>
                        <div style="display: inline-block; width: 52px; height: 34px; line-height: 34px; float: left; background-color: #fff;" id="package-amount">1</div>
                        <i data-type="right" class="right" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">+</i>
                    </div>
                    <div>
                        商品金额：<span id="package-price" style="color: #cf294f; font-size: 16px;">$99</span>
                    </div>
                </div>
            </div>
            <div class="ec-form-item clear">
                <label class="ec-label is-required">姓名</label>
                <div class="ec-content">
                    <input id="name" type="text" class="ec-input" maxlength="10">
                    <div for="name" class="ec-validate"></div>
                </div>
            </div>
            <div class="ec-form-item clear">
                <label class="ec-label is-required">手机</label>
                <div class="ec-content">
                    <input id="phone" type="tel" class="ec-input">
                    <div for="phone" class="ec-validate"></div>
                </div>
            </div>

            <div id="select-area" class="ec-form-item clear">
                <label class="ec-label is-required">地区</label>
                <div class="ec-content">
                    <div class="ec-content select-area select-wrapper">
                        <select id="province"><option value="-1">请选择省份</option><option value="0">北京</option><option value="1">天津</option><option value="2">上海</option><option value="3">重庆</option><option value="4">河北省</option><option value="5">河南省</option><option value="6">黑龙江省</option><option value="7">吉林省</option><option value="8">辽宁省</option><option value="9">山东省</option><option value="10">内蒙古自治区</option><option value="11">江苏省</option><option value="12">安徽省</option><option value="13">山西省</option><option value="14">陕西省</option><option value="15">甘肃省</option><option value="16">浙江省</option><option value="17">江西省</option><option value="18">湖北省</option><option value="19">湖南省</option><option value="20">贵州省</option><option value="21">四川省</option><option value="22">云南省</option><option value="23">新疆维吾尔自治区</option><option value="24">宁夏回族自治区</option><option value="25">青海省</option><option value="26">西藏自治区</option><option value="27">广西壮族自治区</option><option value="28">广东省</option><option value="29">福建省</option><option value="30">海南省</option><option value="31">台湾</option><option value="32">香港特别行政区</option><option value="33">澳门特别行政区</option><option value="34">海外</option></select>
                    </div><div class="ec-content select-area select-wrapper">
                        <select id="city"><option value="-1">请选择城市</option><option value="0">重庆市</option></select>
                    </div><div class="ec-content select-area select-wrapper">
                        <select id="area"><option value="-1">请选择地区</option><option value="0">涪陵区</option><option value="1">北碚区</option><option value="2">江北区</option><option value="3">永川市</option><option value="4">綦江区</option><option value="5">长寿区</option><option value="6">江津区</option><option value="7">合川区</option><option value="8">潼南区</option><option value="9">铜梁区</option><option value="10">荣昌区</option><option value="11">大足区</option><option value="12">万州区</option><option value="13">渝中区</option><option value="14">大渡口区</option><option value="15">沙坪坝区</option><option value="16">九龙坡区</option><option value="17">南岸区</option><option value="18">渝北区</option><option value="19">巴南区</option><option value="20">黔江区</option><option value="21">璧山区</option><option value="22">梁平县</option><option value="23">城口县</option><option value="24">丰都县</option><option value="25">垫江县</option><option value="26">武隆县</option><option value="27">忠县</option><option value="28">云阳县</option><option value="29">奉节县</option><option value="30">巫山县</option><option value="31">巫溪县</option><option value="32">石柱土家族自治县</option><option value="33">秀山土家族苗族自治县</option><option value="34">酉阳土家族苗族自治县</option><option value="35">彭水苗族土家族自治县</option><option value="36">南川区</option><option value="37">开州区</option></select>
                    </div>
                    <div for="area" class="ec-validate"></div>
                </div>
            </div>

            <div class="ec-form-item clear">
                <label class="ec-label is-required">地址</label>
                <div class="ec-content">
                    <input id="addressdetail" placeholder="街道、楼牌号等" type="text" class="ec-input" maxlength="50">
                    <div for="addressdetail" class="ec-validate"></div>
                </div>
            </div>
            <div class="ec-form-item clear" style="margin-bottom: 10px;">
                <label class="ec-label is-required">付款</label>
                <div class="ec-content">
                    <ul class="radio-group" style="float: left;">
                        <li class="active"><span class="radio-icon"></span>货到付款</li>
                    </ul>
                    <span style="color: #cf2a4f;">验货满意后付款</span>
                </div>
            </div>
            <div class="ec-form-item clear">
                <label class="ec-label required-placeholder" style="padding-top: 4px;">留言</label>
                <div class="ec-content">
<textarea id="message" class="ec-input" style="height: 60px;" maxlength="100"></textarea>
                </div>
            </div>
            <div class="ec-form-item clear" style="padding-left: 10px; margin-bottom: 0; line-height: 14px;">
                <input style="vertical-align: middle; width: 14px; height: 14px;" id="cookiecheck" type="checkbox" checked="">
                记录收货地址，下次购买自动输入
            </div>
        </div>
        <div id="submitOrder" class="submitOrder" style="color: rgb(255, 255, 255); background-color: rgb(207, 42, 79); height: 46px; line-height: 46px; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            提交订单
        </div>
    </div>
    <div style="margin: 15px 0; font-size: 16px; text-align: center;">
        售后电话：
        <a id="contact-no" href="tel:0517-83388828" class="data-report" style="color: rgb(0, 149, 212); touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            0517-83388828
        </a>
    </div>
</div>
<div id="btn-list" class="preview-phone-btn-list  " style="
        height: 50px;
        background-color: #cf2a4f
    ">
    <a href="" class="goback">首页</a>
    <ul class="main-btn-list clear">
        <li style="width: 24%; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <a data-reveal-id="myModal">
                <div style="height: 18px; margin: 0 auto 7px auto;">
                    <img src="~/Content/image/scan.png" width="26" height="23" />
                </div>
                <span style="color:white">微信扫码订购</span>
            </a>
            <div id="myModal" class="reveal-modal" style="top:-800%">
                <img src="~/Content/image/weixinqrcode.jpg" width="260" height="260" style="display: block;">
            </div>
        </li>
        <li style="width: 76%;">
            <a data-type="purchase-btn" href="#fill-forms" style="font-size: 16px; line-height: 50px; color: rgb(255, 255, 255); touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div style="display: inline-block; width: 20px; height: 26px; vertical-align: middle; margin-right: 6px; transform: translateY(-4px);">
                    <svg height="28px" viewBox="0 0 31 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-487.000000, -1265.000000)" fill="#ffffff" fill-rule="nonzero">
                                <g transform="translate(0.000000, 1239.000000)">
                                    <path d="M499.810631,29.3479042 L509.927413,29.3533065 L503.973946,42.1838027 C503.885298,42.3773256 503.838403,42.5874716 503.842589,42.7996665 C503.869955,43.5276283 504.476111,44.0881185 505.204046,44.0962219 C505.234149,44.0962219 505.251937,44.1083772 505.272461,44.1070265 C505.280671,44.1070265 507.941099,44.131337 513.253746,44.1799578 L496.879318,63.4148975 L499.710328,51.2664435 C499.721274,51.1475925 499.75685,51.0327934 499.752745,50.9098907 C499.723091,50.1595938 499.083028,49.574976 498.322873,49.6038813 C498.313751,49.6038813 495.879231,49.6065824 491.019313,49.6119847 L499.810631,29.3479042 Z M496.657654,52.3131419 L492.938618,68.2742792 C492.927672,68.3931301 492.892096,68.5065787 492.896201,68.6281307 C492.926304,69.3817536 493.566667,69.9652035 494.326073,69.9368414 C494.712793,69.9195137 495.073663,69.740187 495.318089,69.4438802 L517.15066,43.8017958 C517.433115,43.4717863 517.550274,43.1431719 517.539257,42.8064194 C517.509315,42.0851255 516.910525,41.514307 516.179169,41.509864 C516.097071,41.5004099 516.088861,41.5071628 516.076546,41.5071628 L507.33996,41.4180247 L513.304373,28.5659192 C513.393021,28.3723962 513.439916,28.1622503 513.43573,27.9500553 C513.421494,27.5894973 513.26268,27.2493016 512.994248,27.0043569 C512.725816,26.7594121 512.369771,26.6297976 512.00449,26.6440459 C511.995368,26.6440459 507.631091,26.6449463 498.911659,26.6467471 C498.323834,26.6597625 497.854505,26.9829858 497.650087,27.4665482 C497.640965,27.4881575 494.319193,35.1432367 487.684769,50.4317859 C487.601854,50.6156189 487.561648,50.8154305 487.567096,51.0165864 C487.597198,51.7675081 488.237562,52.3523086 488.996968,52.3225959 C489.007002,52.3216955 491.560564,52.3185441 496.657654,52.3131419 Z" id="Shape-Copy"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>立即购买
            </a>
        </li>
    </ul>
</div>
<div id="loading-toast" style="display:none">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p id="loading-toast-message" class="weui-toast__content">正在提交订单</p>
    </div>
</div>
<div id="success-toast" style="display:none">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p id="success-toast-message" class="weui-toast__content"></p>
    </div>
</div>
<script type="text/javascript">
    window.EC = {
        citoken: '1527926106-2346931945-fcb9e9daf5359758d7374cd19a422b4b',
        timestamp: '1527926106',
        packageList: '[{&quot;id&quot;:205350,&quot;name&quot;:&quot;99\u51432\u53cc    \u97e9\u7248\u900f\u6c14\u8fd0\u52a8\u978b&quot;,&quot;price&quot;:&quot;99.00&quot;,&quot;productList&quot;:[{&quot;id&quot;:205484,&quot;name&quot;:&quot;\uff08\u9a8c\u8d27\u6ee1\u610f\u518d\u4ed8\u6b3e\uff09&quot;,&quot;productAttributeList&quot;:[{&quot;id&quot;:205513,&quot;name&quot;:&quot;\u989c\u8272&quot;,&quot;attributeValue&quot;:&quot;2\u53cc\u9ed1\u8272\u9ed1\u5e95;2\u53cc\u9ed1\u8272\u767d\u5e95;2\u53cc\u7ea2\u8272;\u9ed1\u8272\u9ed1\u5e95+\u9ed1\u8272\u767d\u5e95;\u9ed1\u8272\u9ed1\u5e95+\u7ea2\u8272;\u9ed1\u8272\u767d\u5e95+\u7ea2\u8272&quot;},{&quot;id&quot;:205514,&quot;name&quot;:&quot;\u7801\u6570&quot;,&quot;attributeValue&quot;:&quot;39\u7801;40\u7801;41\u7801;42\u7801;43\u7801;44\u7801&quot;}]}]}]',
        coupon: '{&quot;enable&quot;:&quot;false&quot;,&quot;type&quot;:&quot;1&quot;,&quot;id&quot;:65217}',
        rId: '158081119_11fb9fe61',
        gId: '158081119',
        gName: '卫二帆布鞋 两双/99-最新主图',
        version_g_id: '1580200307',
        account_id: '4853580',
        isPublish: !!'1',
        statHost: 'stat.fyeds0.com',
        host: 'ec.fy.qq.com',
        isTogether: !!'',
        fromAdmin: window.location.search.slice(1).split('&').indexOf('pv=no') > -1,
        isMobile: !!'',
        isSMSVerifyOpen: !!'',
        ecfrom: '', // together or single or ''
        indexPicSpeed: parseInt('0'),
        goodsTypeId: '10387'
    };
    
</script>
<script type="text/javascript" src="https://d65e3204.fyeds0.com/common/region.min.js?v=20171129"></script>
<script type="text/javascript" src="../Content/mobile.js"></script>
<script type="text/javascript" src="https://d65e3204.fyeds0.com/swiper.min.js"></script>
<script type="text/javascript" src="//js.aq.qq.com/js/aq_common.js" async=""></script>
<script type="text/javascript" src="https://hm.baidu.com/hm.js?7ab297cec06c28dc6358e113daa74553" async=""></script>

<script>
    $("#submitOrder").click(function () {
        var passed = true;
        var checkList = $(".ec-validate");
        checkList.each(function (item, index) {
            if (this.dataset.attributeValidate != undefined) {
                if (this.className == "ec-validate ") {
                    passed = false;
                    return false;
                }
            } else if (this.textContent != "" || this.textContent.length != 0) {
                passed = false;
                return false;
            }
        });
        if (!passed) {
            return;
        }

        //校验结束
        var params = {};
        params.ProductID = '1001';
        params.ProductName = $(".productNameClass")[0].nextSibling.data;
        params.Color = '';
        $($(".colorclass")[0].children).each(function (index, item) {
            if (item.className.indexOf("active") > -1) {
                params.Color = item.innerText;
                return false;
            }
        });

        params.Size = '';
        $($(".sizeclass")[0].children).each(function (index, item) {
            if (item.className.indexOf("active") > -1) {
                params.Size = item.innerText;
                return false;
            }
        });
        params.Count = $("#package-amount")[0].textContent;
        params.UnitPrice = $(".basepriceclass")[0].dataset.price;
        params.ReceiveName = $("#name").val();
        params.ReceivePhone = $("#phone").val();
        params.ReceiveAddress = $("#addressdetail").val();
        params.ReceiveCityID = $("#city").val();
        params.PayType = 1;
        params.Remarks = $("#message").val();
        params.TotalPrice = $("#package-price")[0].textContent.substring(1, $("#package-price")[0].textContent.length);
        //校验
        debugger;
        if (params.ProductName.length == 0 || params.Color.length == 0 || params.Size.length == 0
            || params.Count.length == 0 || params.UnitPrice.length == 0 || params.ReceiveName.length == 0
            || params.ReceivePhone.length == 0 || params.ReceiveAddress.length == 0 || params.ReceiveCityID.length == 0) {
            alert("请填写完整下单信息！");
            return;
        }
        $("#loading-toast").show();
        $.ajax({
            url: '../order/SubmitOrder',
            type: 'post',
            dataType: 'json',
            data: params,
            success: function (data) {
                setTimeout(function () {
                    $("#loading-toast").hide();
                    if (data.isSuccess) {
                        $("#success-toast").show();
                        setTimeout(function () {
                            debugger;
                            $("#success-toast").hide();
                            alert("您的订单已提交成功！");
                        }, 1000);
                    } else {
                        alert(data.message);
                    }
                }, 1000);
            },
            error: function (e) {
                $("#loading-toast").hide();
                $("#success-toast").hide();
                $("#order-success-dialog").hide();
                alert("服务器错误！");
            }
        });
    });
</script>