<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>99元2双 韩版透气运动鞋</title>

    <link rel="stylesheet" href="~/Content/adminlte/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/skin-blue.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/mobile.css" />
    <link rel="stylesheet" href="~/Content/reveal.css" />

    <script src="~/Content/adminlte/jquery.min.js"></script>
    <script src="~/Content/adminlte/bootstrap.min.js"></script>
    <script src="~/Content/adminlte/adminlte.min.js"></script>
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/jquery.reveal.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--页面主体内容-->
        <div class="content-wrapper" style="margin-left: 0px">
            <!--自定义的显示内容-->
            @RenderBody()
        </div>

    </div>
</body>
</html>
