<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>在线鞋城</title>

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--页面主体内容-->
        <div class="content-wrapper" style="margin-left: 0px">
            <!--自定义的显示内容-->
            @RenderBody()
        </div>
    </div>
</body>
</html>
